html {
    max-width: 1000px;
    margin: auto;
    scroll-behavior: smooth;
}

body.light {
    --text: dark;
    --background: white;

}

body.dark {
    --text: white;
    --background: black;
}

body {
     color: var(--text);
     background: var(--background);
     margin: auto;
     padding: auto;
     max-width: 1250px;
     padding-bottom: 30px;
 
     font-family: Arial, Helvetica, sans-serif;
 }
 
 
 .navbar {
    font-size: 20px;
    /* padding: revert; */
    text-align: left;
    text-align: -webkit-left;
    position: -webkit-relative;
    position: relative;
    z-index: 1;
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) grayscale(10) opacity(1);
    list-style: none;
}

.navbar ul {
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 10px;;
}


.navbar li {
    display: inline;
}

.navbar a {
    padding-left: 10px;

}

.navbar a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text);
    font-weight: bold;
}


.blog {
    padding: 24px 15px;
    font-size: 20px;
}

.blog h1 {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
}

.blog h3 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.blog h2 {
    font-size: 26px;
    margin: 0;
    padding: 40px 0px 0px 0px;
}

.blog ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.blog li a:hover {
    color: invert(--text);
  }


.blog a:link, a:visited {
    color: var(--text);
    padding: 10px 0px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.blog a:hover {
    color: invert(--text);
}

.blog img {
    padding: 20px 0px;
    /*
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 80%;
    */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


@media (max-width: 1350px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 1200px;
        padding: 15px;
        margin: auto;
        font-size: medium;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }

}


@media (max-width: 1300px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 900px;
        padding: 15px;
        margin: auto;
        font-size: medium;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 800px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 6500px;
        padding: 15px;
        margin: auto;
    }

    body h1, h2, h3, p, a {
        font-size: 80%;
    }

    .navbar {
        padding: 0;
        margin: auto;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 500px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 450px;
        padding: 15px;
        margin: auto;
    }

    body h1, h2, h3, p, a {
        font-size: 80%;
    }

    .blog ul {
        list-style-type: none;
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 18px;
    }
    

    .navbar {
        padding: 0;
        margin: auto;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }
}

