* {
    box-sizing: border-box;
}

hr {
    margin: 0;
}

html {
    margin: auto;
    scroll-behavior: smooth;
}

body.light {
    --text: dark;
    --background: white;
}

/* holding off on dark mode right now */
body.dark {
    --text: white;
    --background: dark;
} 

body {
    text-rendering: optimizeLegibility;
    color: var(--text);
    background: var(--background);
    margin: 0;
    font-family: "YouTube Sans","Roboto",sans-serif;
    cursor: default;

    /* margin-left: 68px; */
 }


/* Top Title Bar */
/*  */
.top-title-bar {
    border-bottom: thin solid;
    top: 0;
    left: 0;
    /* position: sticky;
    z-index: 4; */
    background-color: white;
    /* opacity: 95%; */
}

.top-title-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 15px;
    padding: 5px;
    text-transform: lowercase;
}

.top-title-bar img {
    max-height: 5vh;
    padding: 5px;
}


.top-title-bar .top-title-bar-title h2 {
    margin: 0;
    /* display: none; */
}

/* Left Navigation Bar */
/*  */
.left-nav-bar, .nav-bar {
    /* width: 50px;
    height: 100%; */
    /* width: 4%; */
    height: 100vh;
    width: 65px;
    border-right: thin solid;
    float: left;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: sticky;
    z-index: 2;
}

.left-nav-bar img, .nav-bar img {
    /* max-height: 5vh; */
    /* padding: 5px; */

    height: 3.5vh;
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 3px;
}

.left-nav-bar ul, .right-nav-bar ul, .nav-bar ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.left-nav-bar a:link, a:visited, .right-nav-bar a:link, a:visited, .nav-bar a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.left-nav-bar li, .right-nav-bar li, .nav-bar li {
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.25;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

/* Right Navigation Bar */
/*  */
.right-nav-bar {
    /* width: 50px; */
    /* width: 4%; */
    height: 100vh;
    width: 65px;
    border-left: thin solid;
    float: right;
    top: 0;
    right: 0;
    position: sticky;
    z-index: 2;
}

.right-nav-bar img {
    height: 3.5vh;
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 3px;
}




/* navbar imgs hover */
@media screen and (prefers-color-scheme: dark) {


    .left-nav-bar img, .right-nav-bar img, .nav-bar img {
        filter:invert(100);
    }

    .left-nav-bar li:hover > img, .right-nav-bar li:hover img, .nav-bar li:hover > img {
        filter:invert(0);
    }

    .left-nav-bar li:hover, .right-nav-bar li:hover, .nav-bar li:hover {
        background-color: white;
        color: black;
    }

    .active img {
        filter: invert(0);
    }

    .active li {
        background-color: white;
        color: rgb(29,29,29);
    }
    
}

@media screen and (prefers-color-scheme: light) {

    .active img {
        filter: invert(100);
    }

    .active img :hover {
        filter: invert(0);
    }

    .active li {
        background-color: rgb(29,29,29);
        color: white;
    }


    .left-nav-bar li:hover > img, .right-nav-bar li:hover img, .nav-bar li:hover > img {
        filter: invert(100);
        border-color: white;
    }

    .left-nav-bar a li:hover, .right-nav-bar a li:hover, .nav-bar a li:hover {
        background-color: rgb(29,29,29);
        color: white;
    }

    .nav-bar {
        background-color: white;
    }

    /* .left-nav-bar .active > li:hover {
        background-color: white;
        color: rgb(29,29,29);
    } */

}

.nav-bar {
    display: none;
    /* width: 50%; */
    float: none;
    height: 120vh;
    position: relative;
    z-index: 1;
    /* width: 100%; */
}


.hamburger {

}

.hamburger a {
    font-size: 25px;
    margin: 0 auto;
    /* padding: 5px; */
}

.hamburger a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.header {
    float: none;
    display: flex;
}

.header h1 {
    padding: 10px;
}

.header img {
    max-height: 40vh;
    object-fit: cover;
    width: 100%;
    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 15%);
}

.title-content {
    /* width: 100%; */
    margin-inline: 85px;
}

.title-content h1 {
    max-width: 650px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: thin solid;
}

.body-content {
    float: none;
    /* width: 50%; */
    /* margin: 0 0 auto; */
    display: grid;
    grid-template-columns: 1.5fr 4fr 1.5fr;
    margin-inline: 2vw;
    border-top: thin solid;
    /* margin-top: 2vh; */
    max-width: 1450px;
    margin: auto;
}

.left-content {
    float: left;
}

.center-content {
    float: none;
}

.right-content {
    float: right;
}

.middle-body-content {
    border-top: thin solid;
    margin-inline: 65px;
    /* margin-inline: 60px; */
    
    /* background-color: black; */
}

.small-body-content {

}

.grid-three-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: auto;
}

@media screen and (max-width: 1150px) {
    
    .grid-three-content {
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
    }
}

.small-content {
    /* border: thin solid blue; */
    /* border-top: thin solid #eee; */
    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 25%);
    margin-inline: 1vw;
    margin: 2vh;
    padding: 5px;
}

.small-content .content {
    /* margin: 10px; */


}

.small-content .content h1 {
    /* margin: 0 auto; */
    margin: 10px 0px;
    /* line-height: 80%; */
    font-size: 20px;
}

.small-content .content p {
    margin: 0 auto;
    /* line-height: 80%; */
    font-size: 16px;
}

.small-content .content img {
    max-height: 25vh;
    object-fit: cover;
    width: 100%;
}

.small-content .content a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.small-content .content a h1:hover {
    text-decoration: underline;
}

.big-content {
    /* border: thin solid green; */
    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 15%);
    margin-inline: 1vw;
    margin: 2vh;
    padding: 5px;
    /* border-left: thin solid; */
    /* border-right: thin solid; */
}

.big-content .content h1 {
    /* margin: 0 auto; */
    margin: 10px 0px;
    /* line-height: 80%; */
    font-size: 24px;
}

.big-content .content p {
    margin: 0 auto;
    font-size: 14px;
}

.big-content .content a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.big-content .content a h1:hover {
    text-decoration: underline;
}

.big-content .content img {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
}

.text-content {
    /* border: thin solid red; */
    /* border-bottom: thin solid #eee; */
    /* border-top: thin solid #eee; */
    margin-inline: 1vw;
    margin: 2vh;
    padding: 5px;
    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 25%);
}

.text-content .content h1 {
    margin: 0 auto;
    margin: 10px 0px;
    /* line-height: 80%; */
    font-size: 18px;
}

.text-content .content p {
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 1vh;
}

.text-content .content p a:link {
    text-decoration: underline;
}

.text-content .content p a:hover {
    background-color: black;
    color: white;
}

.text-content .content a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.text-content .content a h1:hover {
    text-decoration: underline;
}

/* .text-content .content p:hover {
    text-decoration: none;
} */

.content {
    margin: 10px;
}

.content img {
    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 25%);
}

.content blockquote {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    /* border-top: thin solid; */
    font-size: 12px;
    color: grey;
}

.content-topics {
    margin-top: 1vh;
}

.content-topics a, .small-content .content-topics p {
    /* padding: 5px; */
    /* padding-right: 1vw; */
    margin-right: 1vw;
    text-transform: uppercase;
    font-style: italic;
    font-size: 14px;
}

.content .content-topics a:link {
    text-decoration: underline;
}

.content .content-topics a:hover {
    text-decoration: none;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.35%; 
    margin-top: 10px;
    box-shadow: 0 1px 8px -1px rgb(0 0 0 / 20%);
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

.footer {
    border-top: thin solid #eee;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.foot-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.foot-links {
    flex: 1 auto;
    padding: 5px;
}

.foot-links a:link, a:visited {
    text-decoration: none;
}

.foot-links a li:hover {
    background-color: black;
    color: white;
}

.foot-links h1 {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .1em;
    padding: 0;
    border-bottom: thin solid;
    margin: 15px 1px .75em;
    display: inline-block;
    margin-bottom: 0px;
}

.foot-links ul {
    list-style: none;
    padding-left: 0;
    /* text-align: center; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.foot-links li {
    padding: 10px;
    max-width: max-content;
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
    .body-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-inline: 0;
    }



    .right-content {
        /* display: subgrid; */
        display: none;
        /* display: grid;
        grid-template-columns: 4fr; */
    }

}

@media screen and (max-width: 900px) {
    .body-content {
        display: grid;
        grid-template-columns: 1fr;
        margin-inline: 0;
    }

    .left-content {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .grid-three-content {
        grid-template-columns: 1fr;
    }
    

    .right-content {
        display: block;
    }

    .small-content, .big-content, .text-content {
        margin: 1vh;
    }

    .body-content, .middle-body-content {
        border-top: none;
    }

    .footer {
        padding-right: 2%;
        padding-left: 2%;
    }

    
}

@media screen and (min-width: 640px) {
    .top-title-bar .hamburger {
        display: none;
    }

    .top-title-bar .form {
        display: none;
    }
}


@media screen and (max-width: 640px) {
    
    .top-title-bar .form {
        display: none;
    }

    .top-title-bar {
        position: sticky;
        z-index: 3;
        top: 0;
    }

    .top-title-bar .top-title-bar-title h2 {
        display: block;
        font-size: 20px;
    }

    .hamburger a {
        margin: 1rem;
    }

    .top-title-bar-content {
        margin-inline: 0;
        justify-content: start;
        align-items: baseline;
    }
    
    .header {
        max-height: 20vh;
    }

    .left-nav-bar, .right-nav-bar {
        display: none;
    }

    .middle-body-content {
        margin-inline: 0;
    }

    .title-content {
        margin-inline: 15px;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .top-title-bar {
        background-color: black;
    }

    .content blockquote {
        color: lightgrey;
    }

    .content-topics a:hover {
        background-color: white;
        color: black;
    }

    .text-content .content p a:hover {
        background-color: white;
        color: black;
    }

    .big-content, .small-content, .text-content {
        /* box-shadow: 0 1px 8px -1px rgba(255, 255, 255, 25%); */
        border: thin solid;
        background-color: rgb(26, 26, 26);
    }

}

@media screen and (prefers-color-scheme: light) {

    .content-topics a:hover {
        background-color: black;
        color: white;
    }

    .text-content .content p a:hover {
        background-color: black;
        color: white;
    }

    .left-nav-bar, .right-nav-bar {
        background-color: white;
        /* height: 100%; */
        /* bottom: 0; */
    }

    .big-content, .small-content, .text-content {
        /* box-shadow: 0 1px 8px -1px rgba(255, 255, 255, 25%); */
        border: thin solid;
        background-color: white;
        /* background-color: rgb(26, 26, 26); */
    }
}