html {
    max-width: 1450px;
    margin: auto;
    scroll-behavior: smooth;
}

body.light {
    --text: dark;
    --background: white;

}

body.dark {
    --text: white;
    --background: black;
}

body {
    /*
    this was from https://namanhkapur.super.site, I like the ease of creating a max-width. Not sure if that's actually how that's determined. 
     */
     color: var(--text);
     background: var(--background);
     margin: auto;
     padding: auto;
     max-width: 1250px;
     padding-bottom: 30px;
 
     font-family: Arial, Helvetica, sans-serif;
 }



.navbar {
    font-size: 20px;
    /* padding: revert; */
    text-align: left;
    text-align: -webkit-left;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) grayscale(10) opacity(1);
    list-style: none;
}

.navbar ul {
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 10px;;
}


.navbar li {
    display: inline;
}

.navbar a {
    padding-left: 8px;

}

.navbar a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text);
    font-weight: bold;
}

.main {
    padding: 75px 15px;
    column-count: 2;
    column-gap: 100px;
    column-rule-width: 1px;
    column-width: 100px;
}

.main h1 {
    padding: auto;
    margin: auto;
    font-size: 45px;
}

.main h2 {
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 800px;
    font-size: 24px;
}

.main p {
    padding: 5px 0px;
    margin: auto;
    font-size: 26px;
}

.main img {
    padding: auto;
    margin: auto;
    max-width: 100%;
    height: auto;
    max-height: 80%;
}


.updates, .school-sect, .social-sect, .blog-sect  {
    font-size: 20px;
    padding: 75px 15px;
}

.updates h4, .school-sect h4, .social-sect h4, .blog-sect h4 {
    padding-top: 10px;
    margin: 10px 0px;
}

.updates ul, .school-sect ul, .social-sect ul, .blog-sect ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.updates li a:hover, .school-sect li a:hover, .social-sect li a:hover, .blog-sect li a:hover  {
    color: var(--text) invert(--text);
}

.school-sect a:link, a:visited, .social-sect a:link, a:visited, .blog-sect a:link, a:visited {
    color: var(--text) invert(--text);
}

.updates p, .school-sect p, .social-sect p, .blog-sect p {
    padding-bottom: 10px;
    margin: auto;
}

.footer-sect {
    padding: 75px 15px;
    font-size: 20px;
    padding-bottom: 400px;
}

.footer-sect h4 {
    padding-top: 40px;
    margin: 10px 0px;
}

.footer-sect p {
    padding-bottom: 10px;
    margin: auto;
}

.footer-sect ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.footer-sect li a:hover {
    color: var(--text) invert(--text);
  }

.footer-sect a:link, a:visited {
    color: var(--text) invert(--text);
}


@media (max-width: 1350px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 1200px;
        padding: 15px;
        margin: auto;
        font-size: medium;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }

}


@media (max-width: 1300px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 900px;
        padding: 15px;
        margin: auto;
        font-size: medium;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 800px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 6500px;
        padding: 15px;
        margin: auto;
    }

    body h1, h2, h3, p, a {
        font-size: 80%;
    }

    .navbar {
        padding: 0;
        margin: auto;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }
}



@media (max-width: 500px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 450px;
        padding: 15px;
        margin: auto;
    }

    body h1, h2, h3, p, a {
        font-size: 80%;
    }

    .navbar {
        padding: 0;
        margin: auto;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 350px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 340px;
        padding: 15px;
        margin: auto;
    }

    body h1, h2, h3, p, a {
        font-size: 80%;
    }

    .navbar {
        padding: 0;
        margin: auto;
    }

    .navbar a {
        padding-left: 5px;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }
}