* {
    box-sizing: border-box;
}

hr {
    margin: 0;
}

html {
    margin: auto;
    scroll-behavior: smooth;
}

body.light {
    --text: dark;
    --background: white;
}

/* holding off on dark mode right now */
body.dark {
    --text: white;
    --background: dark;
} 

body {
    text-rendering: optimizeLegibility;
    color: var(--text);
    background: var(--background);
    margin: 0;
    font-family: "YouTube Sans","Roboto",sans-serif;
    cursor: default;

    /* margin-left: 68px; */
 }


/* Top Title Bar */
/*  */
.top-title-bar {
    border-bottom: thin solid;
}

.top-title-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 15px;
}

.top-title-bar img {
    max-height: 5vh;
    padding: 5px;
}

.top-title-bar h2 {
    margin: 0;
}

/* Left Navigation Bar */
/*  */
.left-nav-bar {
    /* width: 50px;
    height: 100%; */
    /* width: 4%; */

    border-right: thin solid;
    float: left;
    top: 0;
    left: 0;
    overflow-x: hidden;

}

.left-nav-bar img {
    /* max-height: 5vh; */
    /* padding: 5px; */

    height: 3.5vh;
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 3px;
}

.left-nav-bar ul, .right-nav-bar ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.left-nav-bar a:link, a:visited, .right-nav-bar a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.left-nav-bar li, .right-nav-bar li {
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.25;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

/* Right Navigation Bar */
/*  */
.right-nav-bar {
    /* width: 50px; */
    /* width: 4%; */

    border-left: thin solid;
    float: right;
}

.right-nav-bar img {
    height: 3.5vh;
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 3px;
}




/* navbar imgs hover */
@media screen and (prefers-color-scheme: dark) {


    .left-nav-bar img, .right-nav-bar img {
        filter:invert(100);
    }

    .left-nav-bar li:hover > img, .right-nav-bar li:hover img {
        filter:invert(0);
    }

    .active img {
        filter: invert(0);
    }

    .active li {
        background-color: white;
        color: rgb(29,29,29);
    }
    
}

@media screen and (prefers-color-scheme: light) {

    .active img {
        filter: invert(100);
    }

    .active img :hover {
        filter: invert(0);
    }

    .active li {
        background-color: rgb(29,29,29);
        color: white;
    }


    .left-nav-bar li:hover > img, .right-nav-bar li:hover img {
        filter: invert(100);
        border-color: white;
    }

    .left-nav-bar li:hover, .right-nav-bar li:hover {
        background-color: rgb(29,29,29);
        color: white;
    }

    .left-nav-bar .active > li:hover {
        background-color: white;
        color: rgb(29,29,29);
    }

}

.body-content {
    float: none;
    width: 50%;
    margin: 0 auto;
}

.left-content {
    float: left;
}

.center-content {
    float: none;
}

.right-content {
    float: right;
}

.small-content {
    border: thin solid blue;
}

.big-content {
    border: thin solid green;
}

.text-content {
    border: thin solid red;
}
