* {
    box-sizing: border-box;
}

html {
    /* max-width: 1550px; */
    margin: auto;
    scroll-behavior: smooth;
    
}

body.light {
    --text: dark;
    --background: white;

}

body.dark {
    --text: white;
    --background: black;
}

body {
    /* color: var(--text);
    background: var(--background);
    margin: auto;
    padding: auto;
    text-rendering: optimizeLegibility;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    cursor: default; */

    color: var(--text);
    background: var(--background);
    margin: 0;
    font-family: Karla,sans-serif;

    cursor: default;
    
 }

 .hamburger {
    display: flex;
    padding: 10px;
    /* max-width: 500px; */
    transition: .2s ease all;
    visibility: hidden;
    background-color: rgb(88, 228, 88);
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
 }

 .hamburger p {
    margin: auto;
    text-transform: uppercase;
 }

 .hamburger a {
    font-size: 30px;
    text-decoration: none;
 }

 .hamburger a:link, .hamburger a:visited {
    color: var(--text);
}

.hamburger a:hover {
    color: var(--text);
    /* text-decoration: underline; */
    font-weight: bold;
}


.navbar {
    height: 60px;

    padding-right: 5%;
    padding-left: 5%;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    padding-right: 30px;
    padding-left: 30px;
    border-bottom: 1px solid #000;
    background-color: rgb(88, 228, 88);
    color: var(--text);
    visibility: hidden;
    text-transform: uppercase;
 }

 .navbar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;

    padding-left: 0;
    /* padding-left: 10px; */
    text-align: center;
    /* margin: 10px; */
    /* margin-bottom: 10px; */
    padding-top:20px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 20px;
    max-width: 1200px;
 }

 .navbar a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.navbar a:hover {
    font-weight: bold;
}



.inline-navbar {
    padding: 15px 22px 13px;
    font-family: 'Sharp Grotesk',sans-serif;
    /* color: #000; */
    color: var(--text);
    /* line-height: 14px; */
    /* font-size: 40px; */
    height: 100vh;
    z-index: 1;
    font-weight: 500;
    letter-spacing: .3px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(88, 228, 88);
    /* max-width: 100%; */
    /* display: inline-block; */
    text-align: center;
    /* padding-left: 0; */
    /* margin: 5px; */
    padding-right: 85px;
    /* padding-top: 5px; */
    /* visibility: hidden; */
    display: none;
} 

.inline-navbar ul {
    list-style: none;
    font-size: 30px;
    letter-spacing: .23rem;
    line-height: 40px;
}

.inline-navbar li {
    padding: 15px; 
}

.inline-navbar a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.inline-navbar a:hover {
    font-weight: bold;
}

.section, .section-more {
    /* background-color: #fff; */
    color: var(--text);
    /* max-width: 1500px; */
    margin: auto;
 }

.link {
    text-decoration: none;
 }

.posts a, .post-more a {
    font-size: 20px;
    text-decoration: none;
 }

.posts a:link, .post-more a:link, .posts a:visited, .posts-more a:visited {
    color: var(--text);
}


.individual, .individual-more {
    color: var(--text);
    height: 100%;
    padding: 30px;
    /* background-color: transparent; */
    text-decoration: none;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* border-top: 1px solid;
    border-bottom: 1px solid; */
    border: 1px solid;
}

.individual-more {
    background-color:rgb(88, 228, 88);
}

.individual img, .individual-more img {
    /* width: auto; */
    /* height: 120px; */
    margin-right: 0;
    height: 135px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
    background-position: 50% 50%;
    background-size: cover;
}

/* .individual a:link, a:visited {
    color: var(--text);
} */

.topic {
    margin-top: -4px;
    margin-bottom: 5px;
    margin-left: -3px;
    font-size: 10px;
    line-height: 10px;
    color: var(--text);
}

.tag p {
    display: inline-block;
    margin: 4px;
    padding: 5px 8px 4px;
    border: 1px solid;
    font-family: 'Sharp Grotesk',sans-serif;
    /* color: #000; */
    color: var(--text);
    font-size: 11px;
    line-height: 11px;
    font-weight: 500;
    letter-spacing: .3px;
    text-transform: uppercase;
    text-decoration: none;
}

.title {
    /* margin-bottom: 10px; */
    /* margin-bottom: 20px; */
    color: var(--text);
}

.title h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Sharp Grotesk',sans-serif;
    /* color: #000; */
    font-size: 40px;
    line-height: 47px;
    /* letter-spacing: .2em; */
}

.title p {
    font-family: 'Sharp Grotesk',sans-serif;
    /* color: #000; */
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.link-to {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.link-to:hover {
    background-color: rgb(88, 228, 88);
}

.button {
    padding: 13px 18px 12px;
    border: 1px solid #000;
    background-color: transparent;
    font-family: 'Sharp Grotesk',sans-serif;
    /* color: #000; */
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .3px;
    text-decoration: none;
}

.individual:hover {
    background-color: rgb(88, 228, 88);
    color: var(--text);
}

.individual a:link, .individual a:visited {
    color: var(--text);
}

.individual a:hover {
    color: var(--text);
    /* text-decoration: underline; */
}

.read-more {
    border: 1px solid;
    margin: auto;
    padding: 10px;
    background: var(--background);
    /* width: 100%; */

    padding: 13px 18px 12px;
    /* border: 1px solid #000; */
    /* background-color: transparent; */
    font-family: 'Sharp Grotesk',sans-serif;
    /* color: #000; */
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .3px;
}

.read-more a {
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    /* width: 100%; */
}

.read-more a:link, .read-more a:visited, .under-fold a:link, .under-fold a:visited, .sidebar a:link, .sidebar a:visited {
    color: var(--text);
}

.read-more a:hover {
    color: var(--text);
    background-color: var(--background);
    font-weight: lighter;
}

.news a:link, .news a:visited {
    color: var(--text);
}

.news {
    padding: 15px;
    /* height: 350px; */
    display: block;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-position: 50% 50%;
    background-size: cover;
    text-decoration: none;
    z-index: 0;
    
}

.news img {
    /* width: auto; */
    /* height: 120px; */
    z-index: 0;
    margin-right: 0;
    height: 350px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 15%;
    filter: grayscale(100);
}

.news img:hover {
    opacity: 50%;
    filter: grayscale(0);
}

.news-posts {

}

.individual-news {
 height: 350px;
 margin: 0;
}

.individual-news p {
    padding: 0;
    margin: 0;
}

.news-topic {
    padding: 30px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-position: 50% 50%;
    background-size: cover;
    text-decoration: none;
    z-index: 0;
    position: relative;
    bottom: 360px;
}

.news-title {
    top: auto;
}

.news-title h2 {
    display: inline;
    background-color: #ff0;
    font-size: 40px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    text-decoration: none;
    /* line-height: 11px; */
    font-weight: 500;
    letter-spacing: .3px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: black;
}

.news-subtitle {
    padding: 5px 8px 4px;
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 6px;
    font-family: 'Sharp Grotesk',sans-serif;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: .3px;
    text-transform: uppercase;
}


.news-tag {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #000;
    font-family: 'Sharp Grotesk',sans-serif;
    color: #000;
    font-size: 11px;
    line-height: 11px;
    font-weight: 500;
    letter-spacing: .3px;
    text-transform: uppercase;
    border-color: #fff;
    background-color: #fff;
}

.sidebar {
    width: 25%;
    height: auto;
    float: right;
    background-color: #f2f2f2;

}

.sidebar-post {
    padding: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.under-fold {

}

.under-fold-posts {
    width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

 

.footer {
    height: 90px;

    padding-right: 5%;
    padding-left: 5%;

    /* position: fixed; */
    left: 0;
    bottom: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    /* padding-top: 50px; */
    /* padding-right: 30px;
    padding-left: 30px; */
    /* border-bottom: 1px solid #000; */
    background-color: rgb(88, 228, 88);
    color: var(--text);
    /* visibility: hidden; */
    text-transform: uppercase;
    /* display: block; */
}

.footer ul {
    list-style: none;

    padding-left: 0;
    /* padding-left: 10px; */
    text-align: center;
    /* margin: 10px; */
    /* margin-bottom: 10px; */
    margin-top: 40px;
    padding-top:40px;
    padding-bottom: 10px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    /* font-size: 20px; */
    max-width: 1200px;
 }

 .footer li {
    padding: 5px;
 }

 .footer a:link, a:visited {
    color: var(--text);
    text-decoration: none;
}

.footer a:hover {
    font-weight: bold;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 25px;
    z-index: 99;
    border: none;
    outline: none;
    color: var(--text);
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
    opacity: 40%;
  }
  
  #myBtn:hover {
    color: #555; /* Add a dark-grey background on hover */
    opacity: 100%;
  }

@media (max-width: 1360px) {
    .posts, .post-more {
        display: block;
    }
}


@media (min-width: 950px) {
    .navbar {
        visibility: visible;
    }

    .footer ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    }


    .posts, .post-more {
        display: flex;
        /* max-width: 1500px; */
        /* flex-wrap: wrap; */
        flex-basis: auto;
        justify-content: center;
        /* white-space: nowrap; */
    }


}

@media (max-width: 950px) {
    .navbar {
        display: none;
        visibility: hidden;
    }

    .footer {
        height: 30vh;
    }

    .hamburger {
        visibility: visible;
    }

    .sidebar {
        display: none;
    }

    .under-fold-posts {
        width: 100%;
    }
}
