* {
    box-sizing: border-box;
}

html {
    /* max-width: 1550px; */
    margin: auto;
    scroll-behavior: smooth;
    
}

body.light {
    --text: dark;
    --background: white;

}

body.dark {
    --text: white;
    --background: black;
}

body {
    /*
    this was from https://namanhkapur.super.site, I like the ease of creating a max-width. Not sure if that's actually how that's determined. 
     */
     color: var(--text);
     background: var(--background);
     margin: auto;
     padding: auto;
     /* max-width: 1300px; */
     /* margin: 15px; */
     /* padding-bottom: 30px; */
     text-rendering: optimizeLegibility;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    cursor: default;
     /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */


 }

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.recents::-webkit-scrollbar {
    display: none;
  }

.recents {
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0 auto 0;
    top: 0;
    width: 100%;
    max-width: min-content;
    text-align: center;
    /* padding: 5px; */
    border-bottom: 1px solid #eee;
    display:none;
}

/* .recents p {
    padding-left: 8px;
    display: inline-block;
    text-align: center;
    text-rendering: optimizeSpeed;
    font-size: .8rem;
} */

.recents a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    text-rendering: optimizeSpeed;
    font-size: .8rem;

    display: inline-block;
    text-align: center;
    text-decoration: none;

    /* border-radius: 20px;
    border-style: solid;
    border-width: 1px; */

}

.recents a:link, .recents a:visited {
    color: var(--text);
}

.recents a:hover {
    color: var(--text);
    text-decoration: underline;
}



.navbar {
    /* border-bottom-style: solid; */
    font-size: 20px;
    
    /* text-align: -webkit-left;
    position: -webkit-sticky;
    position: sticky;
    -webkit-backdrop-filter: blur(1000px) grayscale(10) opacity(50);
    backdrop-filter: blur(20px) grayscale(10) opacity(50);
    padding-top: 1px; */
    width: max-content;

    z-index: 1;
    top: 0;

    list-style: none;
    /* border-top: 1px solid #eee; */
    /* max-width: 1300px; */
    margin-left: auto;
    margin-right: auto;
    /* border-bottom: 1px double; */

    border-bottom: 1px solid #eee;

}

.navbar ul {

    padding-left: 0;
    /* padding-left: 10px; */
    text-align: center;
    margin: 10px;
}


.navbar li {
    display: inline;
}

.navbar a {
    padding: 5px;

}

.navbar a:link, .navbar a:visited {
    color: var(--text);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text);
    font-weight: bold;
}

.navbar img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    max-height: 50px;
    height:100%;
    overflow:hidden;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}

.navbar .dropdown {
    display: inline-table; 
}

.navbar .dpdn-cnt {
    margin: 0;
}

.dropdown {
    display: block;
  }

.dpdn-cnt {
    display: none;
    position: absolute;
}

 .dpdn-cnt a {
    float: none;
    display: block;
    text-align: left;
}

/* .dropdown:hover {
    padding-bottom: 15%;
    transition: 0.7s ease-in-out;
} */

.dropdown:hover .dpdn-cnt {
    /* display: block; */
    display: none;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /* COLOR: red; Set a background color */
    color: var(--text); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 40px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
  }
  
  #myBtn:hover {
    color: #555; /* Add a dark-grey background on hover */
  }


.main {
    padding: 25px 25px 20px 25px;
    column-count: 2;
    column-gap: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* column-width: 100px; */
    text-decoration: none;
    
}

.main h1 {
    padding: auto;
    margin: auto;
    font-size: 45px;
}

.main h2 {
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* max-width: 800px; */
    font-size: 24px;
}

.main p {
    padding: 5px 0px;
    margin: auto;
    font-size: 26px;
}

.main ul {
    list-style: none;
    font-size: 20px;
    /* font-weight: bold; */
    padding: 0;
    /* margin: 0; */
}

/* .main li {
    padding-bottom: 10px;
} */

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 20px; */
    /* max-width: 400px; */
    width: 100%;
    height:auto;
    overflow:hidden;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
    border-radius: 500px;
}


.updates, .school-sect {
    /* font-size: 22px;
    padding: 95px 15px;
    text-align: center;
    text-decoration: none; */
    padding: 95px 25px;
    /* column-count: 1;
    column-gap: 20px; */
    max-width: 1100px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blog-sect {
    padding: 10px 25px;
    column-count: 1;
    /* column-gap: 120px; */
    max-width: 650px;
    /* width: min-content; */
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-radius: 20px;


    /* text-align: center; */
    
}

.blog-sect h4 {
    margin: 0;
    padding-top: 15px;
    /* line-height: 1.25; */
}

.blog-sect p {
    padding: 0;
    margin: auto;
    font-weight: lighter;
    line-height: 1.35;
    letter-spacing: 0.015625rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.3625rem;
    -webkit-line-clamp: 2;
}

.school-sect img, .updates img, .blog-sect img, .project-sect img, .review-sect img {
    padding-top: 20px;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    
    height: auto;
    width: 120px;

    /* height:auto; */
    /* width: auto; */
    /* overflow:visible; */
    

    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
    object-fit: contain;
    /* border-radius: 100px; */
}

.updates h4, .blog-sect h4, .school-sect h4, .project-sect h4, .review-sect h4 {
    padding-top: 10px;
    margin: 0;
    font-size: 1.2rem;
    /* text-align: center; */
}

.updates ul, .school-sect ul, .blog-sect ul, .review-sect ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main li a:hover, .blog-sect li a:hover, .project-sect a:hover, .review-sect a:hover  {
    text-decoration: underline;
}

.main a:link, a:visited, .updates a:link, a:visited, .school-sect a:link, a:visited, a:visited, .blog-sect a:link, a:visited, .review-sect a:link, a:visited, .project-sect a:link, a:visited {
    color: var(--text);
    /* padding-right: 20px; */
}

.updates p, .blog-sect p, .school-sect p, .project-sect p, .review-sect p {
    padding: 0;
    /* padding-top: 0; */
    /* padding-bottom: 10px; */
    margin: auto;
    /* text-align: center; */
    font-weight: lighter;
    font-size: 1rem;
}


/* .updates img a:hover, .review-sect img a:hover {
    transform: scale(1);
} */

.project-sect {
    padding: 10px 25px;
    column-count: 1;
    /* column-gap: 120px; */
    max-width: 650px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-radius: 20px;
    /* text-align: center; */
}

.project-sect h4 a:hover, .review-sect h4 a:hover {
    font-weight: lighter;
}




.review-sect {
    padding: 10px 25px;
    column-count: 1;
    /* column-gap: 120px; */
    max-width: 650px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-radius: 20px;
    /* text-align: center; */
}

.review-sect h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}


.review-sect h3, .updates h3, .project-sect h3, .school-sect h3, .blog-sect h3 {
    font-size: 50px;
    column-span: all;
    text-align: center;
    margin-top: 10px;
    margin-bottom: auto;
}


.review-topic-4-items ul, .review-topic-3-items ul, .review-topic-2-items ul, .review-topic-1-item ul {
    margin: 0;
    padding: 0;
}

.review-topic-4-items a:link, a:visited, .review-topic-3-items a:link, a:visited, .review-topic-2-items a:link, a:visited, .review-topic-1-item a:link, a:visited {
    color: var(--text);
    text-decoration: none;
    font-style: oblique;
}

.review-topic-4-items {
    columns: 4;
    column-gap: 15px;
    padding-bottom: 60px;
}

.review-topic-4-items h2 {
    column-span: all;
    border-bottom-style: solid;
    border-width: 1.5px;
    padding-bottom: 10px;
}

.review-topic-4-items h2:hover, .review-topic-4-items h4:hover, .review-topic-3-items h4:hover, .review-topic-3-items h2:hover, .review-topic-2-items h4:hover, .review-topic-2-items h2:hover, .review-topic-1-item h2:hover, .review-topic-1-item h4:hover {
    font-weight: lighter;
}

.review-topic-3-items {
    columns: 3;
    column-gap: 15px;
    padding-bottom: 60px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.review-topic-3-items h2 {
    column-span: all;
    border-bottom-style: solid;
    border-width: 1.5px;
    padding-bottom: 10px;
}

.review-topic-2-items {
    columns: 2;
    column-gap: 15px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 60px; */
}

.review-topic-2-items h2 {
    column-span: all;
    border-bottom-style: solid;
    border-width: 1.5px;
    padding-bottom: 10px;
}

.review-topic-1-item {
    columns: 1;
    padding-bottom: 60px;
}

.review-topic-1-item h2 {
    border-bottom-style: solid;
    border-width: 1.5px;
    padding-bottom: 10px;
}

.content-item-row {
    --divider: var(--theme-elements-contentItem-divider,#d3ddd9);
    /* padding: 18px 0px; */

    /* border-bottom: solid .5px var(--divider);
    border-top: solid .5px var(--divider); */

    text-align: left;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 400px; */
    /* max-width: max-content; */
    padding-left: 10px;
    padding-right: 10px;
}

.content-item-row a {
    text-decoration: none;
}

.content-item-row .item-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.content-item-row .item-body {
    display: block;
    /* display: contents; */
    padding-bottom: 18px;
    /* padding-left: 10px; */
    padding-right: 18px;
    
    /* grid-auto-flow: column;
    grid-column-gap: 18px;
    grid-row-gap: 8px;
    grid-template-columns: 1fr 2fr; */

    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* text-align: center; */
    /* font-weight: 500;
    line-height: 32px; */
    font-size: .9em;
}

.item-details {
    display: grid;
    row-gap: 0.5rem;
    line-height: 1.2rem;
}

.item-more-details {
    display: grid;
    grid-row-gap: 0.5rem;
    grid-area: 2 / 1 / auto / -1;
    padding-top: 0px;
    padding-left: 8px;
    /* padding-bottom: 10px; */
    /* color: #236cff; */
    grid-auto-flow: column;
    display: none;
}

.item-thumbnail {
    position: relative;
    padding-left: 10px;
    margin: auto;
    border-radius: 300px;
    display:none;
}


.project-links {

}

.project-links a {
    text-decoration: none;
    font-size: .9rem;
    padding: 5px;
    /* padding-right: 5px; */
}



/* footer {
    background-color: #1111;
    padding-top: 120px;
    text-align: center;
    text-align: -webkit-center;
    position: relative;
    bottom: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) grayscale(10) opacity(1);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    padding: 0px 10px;
}

footer a:link, a:visited {
    color: var(--text);
}

footer a:hover {
    font-weight: bold;
} */



footer {
    /* border-bottom-style: solid; */
    /* font-size: 20px; */
    display:none;
    font-size: 1em;
    z-index: 1;
    top: 0;

    list-style: none;
    /* border-top: 1px solid #eee; */
    /* max-width: 1300px; */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    /* border-bottom: 1px double; */

    border-top: 1px solid #eee;

}

footer ul {

    padding-left: 0;
    /* padding-left: 10px; */
    text-align: center;
    margin: 10px;


}


footer li {
    display: inline;
    overflow-x: scroll;
    white-space: nowrap;
}

footer a {
    padding: 5px;

}

footer a:link, footer a:visited {
    color: var(--text);
    text-decoration: none;
}

footer a:hover {
    color: var(--text);
    font-weight: bold;
}



.topic {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 30px;
    /* padding-bottom: 15px; */
}

.topic h5 {
    padding-bottom: 10px;
    padding-top: 16px;
    margin-top: 10px;
    padding-left: 10px;
    margin: 0;
    font-size: 1.5rem;
    border-bottom: 1px solid #eee;
    background-color: var(--dr-color-primary-surface);
    color: var(--dr-color-on-primary-surface);
    width: max-content;
    /* background-color: lightblue; */
    padding: 5px 10px;
    /* border-radius: 15px; */
}

.topic li {
    list-style-type: none;
}

.topic ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* .topic li {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0 auto 0;
    top: 0;
    width: 100%;
    max-width: min-content;
    text-align: center;
    padding-top: 10px;
}

.topic li::-webkit-scrollbar {
    display: none;
  } */



.blog-topics {
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0 auto 0;
    top: 0;
    width: 100%;
    max-width: min-content;
    text-align: center;
    padding-top: 10px;
    /* padding: 5px; */
    /* border-bottom: 1px solid #eee; */
    /* padding-bottom: 20px; */
}

/* .recents p {
    padding-left: 8px;
    display: inline-block;
    text-align: center;
    text-rendering: optimizeSpeed;
    font-size: .8rem;
} */

.blog-topics a {
    text-decoration: none;
    text-rendering: optimizeSpeed;
    font-size: 1rem;
    display: inline-block;
    /* text-align: center; */
    text-decoration: none;
    /* border-radius: 50px; */
    /* background-color: lightblue; */
    padding: 5px;
    font-weight: bold;
    border-top: 1px solid #eee;

}

.blog-topics a:link, .blog-topics a:visited {
    color: var(--text);
}

.blog-topics a:hover {
    color: var(--text);
    /* text-decoration: underline; */
    text-decoration: none;
    font-style: italic;
    /* font-weight: bold; */
}

.blog-topics::-webkit-scrollbar {
    display: none;
  }


.main-content {
    columns: 2;
    max-width: 1150px;
    margin: auto;
    column-gap: 40px;
}


.my-favs {
    padding: 10px 25px;
    /* width: min-content; */
    max-width: 1450px;
    font-size: 20px;
    margin: auto;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 20px;
}



.my-favs h5 {
    padding-bottom: 10px;
    padding-top: 16px;
    margin-top: 10px;
    padding-left: 10px;
    margin: 0;
    font-size: 1.5rem;
    border-bottom: 1px solid #eee;
    background-color: var(--dr-color-primary-surface);
    color: var(--dr-color-on-primary-surface);
    width: max-content;
    /* background-color: lightblue; */
    padding: 5px 10px;
    /* border-radius: 15px; */

    
}

.my-favs h4 {
    margin: 0;
    padding-top: 15px;
    font-size: 1.2rem;
    /* line-height: 1.25; */
    
}

.my-favs h3 {
    font-size: 50px;
    column-span: all;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    /* padding: 15px; */
}

.my-favs p {
    padding: 0;
    margin: auto;
    font-weight: lighter;
    line-height: 1.35;
    letter-spacing: 0.015625rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.3625rem;
    -webkit-line-clamp: 2;
}

.my-favs a:link, .my-favs a:visited {
    color: var(--text);
}

.my-favs a:hover {
    color: var(--text);
    text-decoration: underline;
}

.my-favs-content {
    display: flex;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0 auto 0;
    top: 0;
    width: 100%;
    max-width: max-content;
    min-width: 100px;
}

/* .my-favs-content::-webkit-scrollbar {
    display: none;
  } */

/* .my-favs::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

.my-favs::-webkit-scrollbar-thumb {
    background: #888;
  } */

.fav-topic {
    /* width: min-content; */
    display: block;
}


/* .footer-sect {
    background-color: #555;
    padding: 75px 15px;
    font-size: 20px;
    font-size: 20px;
    text-align: left;
    text-align: -webkit-left;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) grayscale(10) opacity(1);
    list-style: none;
}

.footer-sect h4 {
    padding-top: 40px;
    margin: 10px 0px;
}

.footer-sect p {
    padding-bottom: 10px;
    margin: auto;
}

.footer-sect ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.footer-sect li a:hover {
    color: var(--text) invert(--text);
  }

.footer-sect a:link, a:visited {
    color: var(--text) invert(--text);
} */


@media (max-width: 1550px) {

    .main {
        /* column-count: 1; */
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        /* text-align: center; */
    }

    .review-topic-1-item {
        margin-left: auto;
        margin-right: auto;
        /* max-width: 800px; */
    }

    /* .review-topic-3-items {
        column-count: 3;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }

    .review-topic-2-items {
        column-count: 2;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    } */

    .updates h4, .school-sect h4, .blog-sect h4, .project-sect h4, .review-sect h4, .my-favs h4 {
        margin: 0;
    }

  .review-topic-4-items {
        column-count: 4;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }

    /* .main img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
        width: 100%;
        height:auto;
        overflow:hidden;
        filter: drop-shadow(0 0 2px rgb(0, 0, 0));
    } */

/* 
    .my-favs {
        max-width: 1250px;
        width: min-content;
    } */



}

@media (max-width: 1450px) {
    
    /* .review-sect {
        column-count: 1;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    } */


    .main {
        column-count: 1;
        margin-left: auto;
        margin-right: auto;
        /* max-width: 650px; */
        text-align: center;
    }

    .review-topic-1-item, .review-topic-3-items, .review-topic-4-items {
        columns: 1;
        display: block;
    }

    .review-topic-2-items, .review-topic-4-items {
        columns: 2;
        display: block;
        margin: 0;
    }

    .review-sect, .blog-sect, .project-sect, .my-favs {
        padding-top: 10px;
    }


    .dpdn-cnt {
        display: none;
    }

    .dpdn-cnt a {
        display: none;
    }

    
    .dropdown:hover .dpdn-cnt {
        display: none;
    }

    .dropdown:hover {
        padding-bottom: 0;
    }

    .main img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
        width: 100%;
        height:auto;
    }

    .main-content {
        columns: 1;
        /* margin: 15px; */
    }

    .my-favs {
        max-width: 800px;
    }


    /* .content-item-row {
        /* display: grid;
        grid-auto-flow: column;
        gap: 12px 18px;
        grid-template-columns: 1fr 2fr;
        -webkit-box-align: center;
        align-items: center;
        text-align: left;
        } */
    
        /* .item-more-details {
            display: none;
        } */
    
}

@media (max-width: 800px) {
    .main, .blog-sect, .review-sect, .my-favs-content {
        columns: 1;
        text-align: center;
        max-width: 500px;
    }

    .my-favs {
        max-width: max-content;
    }



    /* .topic li {
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
        margin: 0 auto 0;
        top: 0;
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }
    
    .topic li::-webkit-scrollbar {
        display: none;
      } */


    .my-favs-content {
        display: block;
    }


 

    body img {
        max-width: 90px;
        width: 100%;
        height:auto;
    }

    .item-more-details {
        display: none;
    }

    /* .content-item-row .item-body {
    grid-template-columns: 1.2fr 2fr;
    grid-column-gap: 12px;
    grid-row-gap: 6px;
} */

/* .item-more-details {
    display: none;
} */

    /* .my-favs {
        max-width: min-content;
    } */

}


@media (prefers-color-scheme: dark) {

    .blog-sect, .project-sect, .review-sect, .my-favs {
        background-color: #5555;
        margin-bottom: 20px;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 15px;
    }



}

@media (prefers-color-scheme: light) {

    body {
        background-color: #1111;
    }

    .navbar, .recents {
        border-bottom: 1px solid #999;
    }

    .blog-sect, .project-sect, .review-sect, .my-favs {
        margin-bottom: 20px;
        padding-top: 10px;
        background-color: #ffff;
    }

    .main-sect {
        margin-bottom: 20px;
    }

    body {
        margin: 15px;
    }

}