html {
    max-width: 1450px;
    margin: auto;
    scroll-behavior: smooth;
}

body.light {
    --text: dark;
    --background: white;

}

body.dark {
    --text: white;
    --background: black;
}

body {
    /*
    this was from https://namanhkapur.super.site, I like the ease of creating a max-width. Not sure if that's actually how that's determined. 
     */
     color: var(--text);
     background: var(--background);
     margin: auto;
     padding: auto;
     max-width: 1250px;
     padding-bottom: 30px;
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
     /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
 }



.navbar {
    border-bottom-style: solid;
    font-size: 20px;
    /* padding: revert; */
    text-align: left;
    text-align: -webkit-left;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) grayscale(10) opacity(1);
    list-style: none;
}

.navbar ul {
    padding-top: 15px;
    padding-left: 10px;
}


.navbar li {
    display: inline;
}

.navbar a {
    padding-left: 8px;

}

.navbar a:link, .navbar a:visited {
    color: var(--text);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text);
    font-weight: bold;
}

.main {
    padding: 75px 15px;
    column-count: 2;
    column-gap: 100px;
    column-rule-width: 1px;
    column-width: 100px;
}

.main h1 {
    padding: auto;
    margin: auto;
    font-size: 45px;
}

.main h2 {
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* max-width: 800px; */
    font-size: 24px;
}

.main p {
    padding: 5px 0px;
    margin: auto;
    font-size: 26px;
}

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 275px; */
    width:100%;
    height:auto;
    overflow:hidden;
}


.updates, .school-sect, .blog-sect {
    font-size: 22px;
    padding: 95px 15px;
    text-align: center;
}

.blog-sect {
    padding: 95px 25px;
    column-count: 2;
    column-gap: 25px;
    column-rule-width: 1px;
    column-width: 50px;
    font-size: 20px;
}

.updates img, .blog-sect img, .review-sect img {
    /* padding: 20px 0px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 206px;
    max-width: 100%;
    height:auto;
    overflow:hidden;
    padding-bottom: 20px;
}

/* .updates img a:hover, .review-sect img a:hover {
    transform: scale(1);
} */

.review-sect {
    padding: 95px 25px;
    column-count: 4;
    column-gap: 25px;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-width: 50px;
    font-size: 20px;
}

.review-sect h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.review-sect h3, .updates h3, .school-sect h3, .blog-sect h3 {
    font-size: 50px;
    column-span: all;
    text-align: center;
}

/* .review-sect h4, .blog-sect p {
    break-before: column;
} */

.updates h4, .school-sect h4, .blog-sect h4, .review-sect h4 {
    padding-top: 10px;
    margin: 0;
    text-align: center;
}

.updates ul, .school-sect ul, .blog-sect ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.updates li a:hover, .school-sect li a:hover, .blog-sect li a:hover  {
    color: var(--text);
    font-weight: bold;
}

.updates a:link, a:visited, .school-sect a:link, a:visited, a:visited, .blog-sect a:link, a:visited, .book-sect a:link, a:visited {
    color: var(--text);
}

.updates p, .school-sect p, .blog-sect p, .review-sect p {
    padding-top: 0;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}


footer {
    /* border-top-style: solid; */
    text-align: center;
    text-align: -webkit-center;
    position: relative;
    bottom: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) grayscale(10) opacity(1);
    /* padding-top: 200px; */
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    padding: 0px 10px;
}

footer a:link, a:visited {
    color: var(--text);
}

footer a:hover {
    font-weight: bold;
}



/* .footer-sect {
    padding: 75px 15px;
    font-size: 20px;
    font-size: 20px;
    text-align: left;
    text-align: -webkit-left;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) grayscale(10) opacity(1);
    list-style: none;
}

.footer-sect h4 {
    padding-top: 40px;
    margin: 10px 0px;
}

.footer-sect p {
    padding-bottom: 10px;
    margin: auto;
}

.footer-sect ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.footer-sect li a:hover {
    color: var(--text) invert(--text);
  }

.footer-sect a:link, a:visited {
    color: var(--text) invert(--text);
} */


@media (max-width: 1000px) {
     /* html {
        max-width:screen;
    }

    body {
        max-width: 1200px;
        padding: 15px;
        margin: auto;
        font-size: 90%;
    }  */

    body {
        text-align: center;
    }

    .main, .blog-sect, .review-sect {
        column-count: 1;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }

    .main img, .blog-sect img, .review-sect img {
        height: auto;
        /* width: auto; */
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }

}

/* @media (max-width: 800px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 650px;
        padding: 15px;
        margin: auto;
    }

    body h1, h2, h3, p, a {
        font-size: 90%;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }
} */

/* @media (max-width: 500px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 450px;
        padding: 15px;
        margin: auto;
    }

    body h1, h2, h3, p, a {
        font-size: 90%;
    }

    body ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 90%;
    }

    .navbar {
        padding: 0;
        margin: auto;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }
} */

/* @media (max-width: 340px) {

    html {
        max-width:screen;
    }

    body {
        max-width: 340px;
        padding: 15px;
        margin: auto;
    }

    body ul {
        list-style-type: none;
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 85%;
    }

    body h1, h2, h3, p, a {
        font-size: 85%;
    }

    .navbar {
        padding: 0;
        margin: 0 auto;
    }

    .navbar a {
        padding-left: 2px;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }
} */
