<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="color-scheme" content="light dark"/>

    <link rel="shortcut icon" type="image/x-icon" href="../img/icons/mLogo.png">
    <link rel="stylesheet" href="../template-style.css">

    <title>Bump Template | Matt Bramer</title>
</head>
<body>

    <!-- top navigation -->
    <nav>

        <a href="../index.html"><img src="../img/icons/mLogo.png" alt="Matt Logo"></a>

        <ul>
            <!-- <h2>Top Navigation</h2> -->
            <li><a href="../index.html">home</a></li>
        </ul>
    </nav>

    <section class="bump">
        <img src="../img/docs/tech/gpt/chatgpt openai.webp" alt="">
        <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus tempora eaque nam, minima quasi ut consequatur quibusdam totam, vero rem quas voluptatibus sit enim, nobis accusamus mollitia dolore. Recusandae, sit.</blockquote>
        <h1>Wow</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt praesentium assumenda vero illo provident! Dolor nesciunt harum voluptatem saepe! Itaque libero id ullam velit tempore, maxime aspernatur molestiae nesciunt laboriosam.</p>
    </section>
    
</body>
</html>