<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="color-scheme" content="light dark"/>

    <link rel="shortcut icon" type="image/x-icon" href="../img/icons/mLogo.png">
    <link rel="stylesheet" href="../template-style.css">

    <title>Post Template | Matt Bramer</title>
</head>
<body>

    <!-- top navigation -->
    <nav>

        <a href="../index.html"><img src="../img/icons/mLogo.png" alt="Matt Logo"></a>

        <ul>
            <!-- <h2>Top Navigation</h2> -->
            <li><a href="../index.html">home</a></li>
            <li><a href="../index.html#recent">recent</a></li>
            <li><a href="../index.html#blogs">blogs</a></li>
            <li><a href="../index.html#reviews">reviews</a></li>
            <li><a href="../index.html#in-reviews">in reviews</a></li>
            <li><a href="../index.html#about">about</a></li>
            <li><a href="../index.html#social">social</a></li>
        </ul>
    </nav>

    <!-- sidebar -->
    <aside>
        
        <ul>
            <h2>Sidebar UL 1</h2>
            <li><a href="">home</a></li>
            <li><a href="">recent</a></li>
            <li><a href="">blogs</a></li>
            <li><a href="">reviews</a></li>
            <li><a href="">in reviews</a></li>
            <li><a href="">about</a></li>
            <li><a href="">social</a></li>
        </ul>

        <ul>
            <h2>Sidebar UL 2</h2>
            <li><a href="">home</a></li>
            <li><a href="">recent</a></li>
            <li><a href="">blogs</a></li>
            <li><a href="">reviews</a></li>
            <li><a href="">in reviews</a></li>
            <li><a href="">about</a></li>
            <li><a href="">social</a></li>
        </ul>

    </aside>

    <aside style="float: right;">

        <ul>
            <h2>Blog Title</h2>
            <li>Blog date, <a href="">year</a></li>
        </ul>

        <!-- <ul>
            <h2>Share</h2>
            <li><a href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>" target="_blank">X(Twitter)</a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u=<URL>" target="_blank">Facebook</a></li>
            <li><a href="https://reddit.com/submit?url=<URL>&title=<TITLE>" target="_blank">Reddit</a></li>
            <li><a href="mailto:?subject=<SUBJECT>&body=<BODY>" target="_blank">Email</a></li>
        </ul> -->


    </aside>

    <!-- main body content -->
    <section>

        <h1>lorem</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi iusto odit, excepturi recusandae itaque perferendis rerum nobis debitis, fugiat fuga exercitationem doloribus sequi illum praesentium, a illo minus dignissimos. Similique.</p>

        <img src="../img/placeholder-video.jpeg" alt="">
        <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptas deleniti explicabo praesentium tenetur blanditiis provident quos sequi ea aperiam ad, beatae minus at perferendis aliquid, nostrum atque delectus! Molestiae.</blockquote>

    </section>



    <!-- footer -->
    <footer>
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">recent</a></li>
            <li><a href="">blogs</a></li>
            <li><a href="">reviews</a></li>
            <li><a href="">in reviews</a></li>
            <li><a href="">about</a></li>
            <li><a href="">social</a></li>
        </ul>

        <a href="../index.html"><img src="../img/icons/mLogo.png" alt="Matt Logo"></a>

    </footer>

    
</body>
</html>