.navbar {
    font-size: 24px;
    margin: auto;
    padding: 30px 0px;
}

.navbar a:link, a:visited {
    color: grey;
    padding: 15px 0px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}


body.light {
    --text: dark;
    --background: white;

}

body.dark {
    --text: white;
    --background: black;
}

  

body {
   /*
   this was from https://namanhkapur.super.site, I like the ease of creating a max-width. Not sure if that's actually how that's determined. 
    */
    color: var(--text);
    background: var(--background);

    margin: auto;
    padding: auto;
    max-width: 1250px;
    padding-bottom: 30px;

    font-family: Arial, Helvetica, sans-serif;
}


.main {
    padding: 40px 0px;
    column-count: 2;
    column-gap: 100px;
    column-rule-width: 1px;
    column-width: 100px;
}

.main h1 {
    padding: auto;
    margin: auto;
    font-size: 50px;
}

.main h2 {
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 800px;
    font-size: 30px;
}

.main p {
    padding: 5px 0px;
    margin: auto;
    font-size: 26px;
}

.main img {
    padding: auto;
    margin: auto;
    max-width: 100%;
    height: auto;
}


.school-sect {
    font-size: 20px;
}

.school-sect h4 {
    padding-top: 10px;
    margin: 10px 0px;
}

.school-sect ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.school-sect li a:hover {
    color: black;
}

.school-sect a:link, a:visited {
    color: grey;
    text-decoration: underline;
}

.school-sect p {
    padding-bottom: 10px;
    margin: auto;
}


.social-sect {
    font-size: 20px;
}

.social-sect h4 {
    padding-top: 40px;
    margin: 10px 0px;
}

.social-sect p {
    padding-bottom: 10px;
    margin: auto;
}

.social-sect ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-sect li a:hover {
    color: black;
  }

.social-sect a:link, a:visited {
    color: grey;
    text-decoration: underline;
}


.blog-sect {
    padding: 0px;
    margin: auto;
    font-size: 20px;
}

.blog-sect ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-sect li a:hover {
    color: black;
  }

.blog-sect a:link, a:visited {
    color: grey;
    text-decoration: underline;
}


.footer-sect {
    font-size: 20px;
}

.footer-sect h4 {
    padding-top: 40px;
    margin: 10px 0px;
}

.footer-sect p {
    padding-bottom: 10px;
    margin: auto;
}

.footer-sect ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.footer-sect li a:hover {
    color: black;
  }

.footer-sect a:link, a:visited {
    color: grey;
    text-decoration: underline;
}

@media (max-width: 1350px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 1200px;
        padding: 15px;
        margin: auto;
        font-size: medium;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }

}


@media (max-width: 1300px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 900px;
        padding: 15px;
        margin: auto;
        font-size: medium;
    }

    .main {
        columns: 1;
    }

    .main img {
        height: auto;
        width: auto;
        padding: 20px 0px;
        margin-left: auto;
        margin-right: auto;
    }

}


@media (max-width: 414px) {
    html {
        max-width:screen;
    }

    body {
        max-width: 380px;
        padding: 15px;
        margin: auto;
        font-size: medium;
    }
}

