* {
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;
}

body {

    margin: 0 auto;
    cursor: default;

    margin-bottom: 5vh;


    font-family: system-ui;
}

body p, body em, body ul, body li, body h2 {
    max-width: 550px;
}

body li {
    margin: 5px;
}

nav {
    overflow-x: auto;
    text-wrap: nowrap;

    /* position: sticky;
    top: 0;
    z-index: 10; */
    padding: 10px;
    padding-left: 20px;

    


    position: sticky;
    top: 0;
    z-index: 1;
    /* background-color: white; */
    /* padding: 10px; */
}

nav h1, figure {
    display: none;
    visibility: hidden;
}



nav a:link, nav a:visited {
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 5px;
    /* border-bottom: thin solid; */
}

nav a:hover {
    opacity: 80%;
}

nav::-webkit-scrollbar, h1::-webkit-scrollbar {
    display: none;
}

article {
    padding: 0 25px;
    max-width: 800px;
    margin: 0 auto;

}

ol, ul {
    padding: 0 20px;
}

/* h1 {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 10px;

    overflow-x: scroll;
    text-wrap: nowrap;
} */

aside, figure {
    display: none;
}


img {
    max-height: 60vh;
    max-width: 100%;
    object-fit: cover;
}

summary {
    cursor: pointer;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.35%; 

    box-shadow: 4px 4px 0px rgb(88, 88, 88);
    border: thin solid;
}

iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;


    /* border-radius: 10px; */

}

blockquote, figcaption {
    margin: 10px;
    padding-left: 10px;
    border-left: thick solid;
    max-width: 550px;
    font-size: smaller;
}


article h2, article h1 {
    /* margin: 0; */
    margin-bottom: 10px;
}

article p {
    /* margin: 0; */
    margin-bottom: 15px;
    line-height: 1.6em;
}

footer {
    padding-top: 20px;
}

footer img {
    max-height: 4vh;
}


details {
    border: thin solid;
    padding: 15px;
    max-width: max-content;
}

details[open] summary {
    border-bottom: thin solid;
    padding-bottom: 10px;
}


  
  /* details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
  }
  
  summary {
    cursor: pointer;
    outline: none;
  }
  
  summary::after {
    content: '✕';
    float: right;
  }
  
  details[open] summary::after {
    content: '+';
  }
   */

   @media screen and (prefers-color-scheme: light) {

    nav {
        background: white;
        /* background-color: rgb(221, 221, 221); */
        box-shadow: 1px 1px 8px grey;
    }

    body {
        background-color: rgb(221, 221, 221);
    }

    article {
        background-color: white;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 5vh;
        margin-top: 20px;
        box-shadow: 0 0px 8px 0px grey;
    }
    
   }

   @media screen and (max-width: 850px) and (prefers-color-scheme: light) {
    
    nav, body {
        background: white;
        /* background-color: rgb(221, 221, 221); */
        /* box-shadow: 1px 1px 8px grey; */
    }




   }






   @media screen and (prefers-color-scheme: dark) {
    
    body, nav {
        background-color: rgb(43, 43, 43);
    }

    nav, article img {
        /* background: white; */
        box-shadow: 1px 1px 8px rgb(22, 22, 22);
    }

    body {
        background-color: rgb(29, 29, 29);
    }

    article {
        background-color: rgb(49, 49, 49);
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 5vh;
        margin-top: 20px;
        box-shadow: 0 0px 8px 0px rgb(14, 14, 14);
    }
}


@media screen and (max-width: 850px) {
    
    article {
        margin-top: 0;
        border-radius: 0;

    }

    body {
        margin-bottom: 0;
    }

   }


   @media screen and (max-width: 850px) and (prefers-color-scheme: dark) {
    
    nav, body {
        background-color: rgb(29, 29, 29);
        /* background-color: rgb(221, 221, 221); */
        /* box-shadow: 1px 1px 8px grey; */
    }




   }