* {
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;
}

body.light {
    --text: dark;
    --background: white;
}

body.dark {
    --text: white;
    --background: rgba(0, 0, 0, 0.363) !important;
}


body {
    text-rendering: optimizeLegibility;
    color: var(--text);
    background: var(--background);
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: default;
}

header {
    text-align: center;
}

.wholepage {
    max-width: 1000px;
    margin: 0 auto;
    /* max-height: 60vh; */
    /* margin-top: 10vh; */
    padding: 5vw;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;

    box-shadow: 1px 0px 8px rgba(124, 124, 124, 0.384);
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
}

.wholepage h1, .page h2 {
    margin-bottom: 5px;
}

.wholepage p, .page p {
    /* padding: 10px; */
    margin: 0;
}

.wholepage img {
    max-width: 60vh;
    padding: 10px;
    width: 100%;
}


.page img {
    max-height: 50vh;
    padding: 15px;
    padding-bottom: 0;
}

.page a:link, .page a:visited {
    color: var(--text);
    /* text-decoration: none; */
}

.page blockquote {
    margin: 0;
    padding: 10px;
    /* padding: 10px; */
    font-size: 12px;
    text-align: center;
    /* border-left: thick solid; */
}

.grid-one-column {
    padding: 12px;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    /* margin-top: 20vw; */
    margin-bottom: 20vh;
}

.grid-two-columns {
    padding: 12px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    /* margin-top: 20vw; */
    margin-bottom: 20vh;
}

.grid-four-columns {
    padding: 12px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;

    /* margin-top: 20vw; */
    margin-bottom: 20vh;
}

.grid-item {
    display: none;
}

.category {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 12px;
}

.post {
    border: thin solid;
    width: 100%;
    height: 100%;
    max-width: 260px;

    overflow: hidden;

    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.content a:link, .content a:visited {
    color: var(--text);
    text-decoration: none;

}

.content h1 {
    font-size: 20px;
    margin: 0;
    line-height: 1;
    padding-bottom: 5px;
}

.content h4 {
    font-size: 16px;
    margin: 0;
    font-weight: 300;
}

.content img {
    width: 100%;
    height: 10vh;
    overflow: hidden;
    object-fit: cover;
}

.content-tags {
    border-top: thin solid;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
}

.content-tags a {
    border: thin solid;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    /* max-width: 40px; */
    overflow: hidden;
    text-overflow: ellipsis;    
    text-wrap:nowrap;
}


header, footer, nav {
    margin: 0 auto;
    padding: 1vw;
    /* max-height: 10vh; */
}

.header {
    display: none;
}

@media screen and (max-width: 800px) {

    header, footer, nav {
        padding: 3vw;
    }

    .page {
        flex-direction: column;
    }

    .content-tags {
        flex-direction: column;
    }
}

nav {
    /* margin: 10px; */
    /* border-top: thin solid #eee; */
    /* border-bottom: thin solid #eee; */
    /* margin: 20px auto; */
    padding: 10px !important;
    position: sticky;
    top: 1px;
    z-index: 10;

    transition: top 0.3s; /* Transition effect when sliding down (and up) */

    /* text-align: center; */
}

nav a:link, nav a:visited {
    color: var(--text);
    text-decoration: none;
}

nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    max-width: 128rem;
    margin: 0 auto;
}

nav li {
    display: inline;
    padding: 5px;
}

nav img {
    max-height: 4vh;
    padding-inline: 2vw;
}

@media screen and (max-width: 600px) {
    nav img {
        padding-inline: 4vw;
        max-height: 3vh;
    }
}

nav a {
    padding: 5px;
}


footer {
    /* margin: 20px auto; */
    border-top: thin solid #eee;


}

.feet {
    margin: 0 auto;
    max-width: 1000px;
    /* max-width: 900px; */
}

footer .toes ul, footer .rights ul {
    padding: 0;
    margin-top: 5px;
}

footer .toes li {
    list-style-type: none;
    max-width: max-content;
    padding: 5px;
}

footer .rights li {
    list-style-type: none;
    max-width: max-content;
    display: inline;
    padding: 10px;
}

footer .toes {
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
}

footer .toes h1 {
    font-size: 16px;
    padding-bottom: 5px;
    /* margin-bottom: 0; */
    border-bottom: thin solid;
    max-width: max-content;
}

footer .rights li::before {
    content: " / ";
}

footer a:link, footer a:visited {
    color: var(--text);
    text-decoration: none;
    padding: 5px;
}

footer a:hover {
    /* text-decoration: underline; */
    /* font-weight: 500; */
}

footer img {
    max-height: 10vh;
    padding: 10px;

    display: none;
}

/* display none when tbd */

/* header, nav, footer {
    display: none;
} */

header {
    display: none;
}

.blog-topics-left {
    max-width: 16%;
    float: left;
    top: 45px;
    position: sticky;
    z-index: 1;
    margin: 15px;
    padding: 15px;

    display: none;
}


.blog-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10vh;
    padding: 12px;
}

.blog-title {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 5vh;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 3vw;

}

@media screen and (max-width: 1000px) {
    .blog-title {
        flex-direction: column;
        align-items:flex-start;
    }
}

.blog-title a {
    text-decoration: none;
    /* margin-right: 1vw; */
}

.blog-title h1 {
    margin: 0;
    padding: 15px 0;
    line-height: 1;
    /* font-size: 26px; */
}

.blog-title p {
    max-width: 550px;
    line-height: 1.4em;
    margin: 0;
    padding: 5px;
    padding-bottom: 10px;
}

.blog-title img {
    max-height: 50vh;
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.blog {
    margin: 0 auto;
}

.blog img {
    max-height: 60vh;
    width: 100%;
}

.blog p, .blog h2, .blog h3, .blog blockquote, .wholepage blockquote {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
}

.blog h3 {
    padding-bottom: 10px;
    border-bottom: thin solid;
    max-width: max-content;
}

.wholepage blockquote {
    border-left: thick solid;
    padding: 10px;
    font-style: italic;
    margin: 10px;
}

.blog blockquote, .blog-title blockquote  {
    border-left: thick solid;
    padding: 5px;
    font-style: italic;
    margin: 10px;
}

.blog-tags {
    max-width: 550px;
    margin: 0 auto;
    border-top: thin solid;
    padding: 15px;
    margin-top: 10vh;
}

.blog-tags h1 {
    font-size: 16px;
    border-bottom: thin solid;
    padding-bottom: 5px;
    max-width: max-content;
}

.blog-tags a {
    font-size: 14px;
    max-width: max-content;
    padding: 5px;
    text-decoration: none;
}

details summary {
    position: sticky;
    top: 8vh;
    /* z-index: 1; */
    font-weight: 500;

    /* border: thin solid; */
    /* padding: 10px; */
    margin: 5px;
    padding: 5px;
    max-width: max-content;
    border-bottom :thin solid;
    cursor: pointer;
}

details {
    transition: 0.3s;
    
}

/* details[open] {
    border: thin solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
} */

@media screen and (max-width: 970px) {
    details summary {
        position: relative;
        top: 0;
    }
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.35%; 
}

iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav ul {
    margin: 0;
    padding: 15px;
    list-style-type: none;
  }

  .sidenav h1 {
    border: thin solid;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }


  /* Style the list */
ul.breadcrumb {
    padding: 6px 10px;
    list-style: none;
    background-color: #eee;

    max-width: max-content;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li, ul.breadcrumb p {
    display: inline;
    font-size: 15px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }


  .filter-section {
    padding: 20px; 
    max-width: 1450px; 
    margin: 0 auto;

    margin-bottom: 20vh;
}

.myBtnContainer {
    border-radius: 10px;
    padding: 10px;

    background-color: white;
    max-width: max-content;

    /* position: sticky;
    top: 1em;
    z-index: 1; */
}



.filterDiv {
    float: left;
    background-color: #1165aacb;
    color: #ffffff;
    /* max-width: 100px; */
    padding: 12px;
    /* line-height: 100px; */
    /* text-align: center; */
    margin: 5px;
    display: none;

    border-radius: 10px;
    box-shadow: 1px 0px 8px lightgray;

    text-overflow: ellipsis;
    /* max-width: 200px; */
    /* text-wrap: nowrap; */
    overflow: hidden;
  }

  .filterDiv p {
    margin-top: 5px;
    margin-bottom: 0;
  }

.filterDiv a:link, .filterDiv a:visited {
    text-decoration: none;
    /* color: rgb(199, 199, 199) !important; */
    font-weight: 500;
    padding: 0;
    color: white;
}

.filterDiv.blogs {
    background-color: #386b08cb !important;
}

.filterDiv.tv-reviews {
    background-color: rgb(160, 0, 0) !important;
}
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}


  }

  @media screen and (max-width: 700px) {
    .grid-four-columns {
        grid-template-columns: 1fr 1fr;
    }
  }


@media screen and (min-width: 550px) {
    nav span {
        display: none;
    }


}

@media screen and (max-width: 550px) {
    nav li {
        display: none;
    }

    nav span {
       font-size: 20px;
       margin-left: 10px;
    }

    .blog-title a, .blog-tags a {
        display: inline-block;
        /* margin-right: 3vw; */
    }

    .filterDiv {
        float: none;
        margin: 15px;
    }

    .filter-section {
        /* padding: 0; */
    }

    .myBtnContainer {
        /* top: 3.5em;

        overflow: scroll;
        text-wrap: nowrap; */
        
        position: relative;
    }

    .myBtnContainer::-webkit-scrollbar {
        display: none;
    }


}

@media screen and (max-width: 400px) {
    .grid-two-columns, .grid-four-columns {
        grid-template-columns: 1fr;
        max-width: 280px;
    }

    .myBtnContainer {
        position: relative;
    }
}




@media screen and (prefers-color-scheme: light) {
    nav, .page {
        background-color: white;
    }
    
    /* body {
        background-color: rgb(231, 231, 231);
    } */

    nav {
        /* background-color: rgb(29, 29, 29); */
        /* border-color: rgb(29, 29, 29); */
        /* box-shadow: 1px 0px 10px rgb(94, 94, 94, .25); */

        /* border-bottom: thin solid #eee; */

        border-bottom: thick solid red;
        opacity: 98%;
    }

    footer {
        border-top: thick solid green;
    }

    nav a:hover {
        /* color: rgb(104, 104, 104); */
        color: white;
        background-color: rgb(70, 70, 70);
        border-radius: 5px;
    }


    .page a, .blog-tags a, .blog-title a, .blog a {
        color: rgb(0, 93, 233) !important;
        /* font-weight: 500; */
        /* text-decoration: none; */
    }

    footer a {
        font-weight: 500;
    }

    footer a:hover, nav span:hover {
        color: rgb(112, 112, 112);
        cursor: pointer;
    }

    .blog blockquote {
        color: rgb(112, 112, 112);
    }

     .page a:hover, .blog-tags a:hover, .blog-title a:hover, .blog a:hover {
        color: rgb(37, 124, 255) !important;
        background-color: #e6e6e6;

        text-decoration: none;
    }

    .blog-title {
        border-bottom: thin solid #cccccc;
    }

    ul.breadcrumb {
        background-color: #e0e0e0;
        border-radius: 10px;
        margin: 10px;
        box-shadow: 1px 1px 5px lightgray;
    }

    .post:hover, .content-tags a:hover {
        box-shadow: 1px 1px 10px lightgrey;
    }

    details summary {
        background-color: white;
    }

    .post, .content-tags, .content-tags a {
        border-color: #cccccc;
    }

    body {
        background-color: #f3f3f3;
    }

    .blog-container, .blog-topics-left {
        background-color: white;
        border-radius: 10px;
    }

    footer, .post {
        background-color: white;
    }
    
}

@media screen and (max-width: 800px) {
    .blog-container {
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (prefers-color-scheme: dark) {
    nav {
        background-color: rgb(29, 29, 29);
        border-bottom: thin solid;
        border-color: rgb(102, 102, 102);
        
        box-shadow: 1px 0px 10px rgb(94, 94, 94, .25);

        border-bottom: thick solid red;
    }

    footer {
        border-color: rgb(51, 51, 51);
        border-top: thick solid green;
    }

    .myBtnContainer {
        background-color:rgb(49, 49, 49);
    }

    .btn {
        background-color:rgb(29, 29, 29);
    }

    .btn:hover {
        background-color: #525252;
    }



    nav a:hover {
        color: rgb(104, 104, 104) !important;
        text-decoration: none;
    }

    footer a {
        color: rgb(137, 137, 137) !important;
        /* text-decoration: none; */
    }

    .blog-title {
        border-bottom: thin solid darkgrey;
    }

    .blog-container {
        background-color:rgb(49, 49, 49);
        border-radius: 10px;
    }

    ul.breadcrumb {
        background-color: white;
        border-radius: 10px;
        margin: 10px;
    }

    ul.breadcrumb p {
        color: black;
    }

    .page a, .blog-tags a, .blog-title a, .blog a, .blog-title a {
        color: rgb(37, 124, 255) !important;
        /* font-weight: 500; */
        /* text-decoration: none; */
    }

    .blog blockquote {
        color: rgb(112, 112, 112);
    }

    footer a:hover, .page a:hover, .blog-tags a:hover, .blog a:hover {
        color: white !important;
        background-color: rgb(37, 124, 255) !important;
        text-decoration: none;
    }

    footer a:hover, nav span:hover {
        color: rgb(112, 112, 112);
        cursor: pointer;
    }

    body {
        background-color: rgba(48, 48, 48, 0.699);
    }

    .filterDiv, .myBtnContainer {
        border: thin solid grey;
        box-shadow: none;
         /* 1px 0px 8px grey; */
    }


}

